extends layout-editor
block content
  .navbar.navbar-default.navbar-static-top.gv-nav(role="navigation")
    .container-full
      .navbar-header
        ul.nav.navbar-nav.pull-right
          li
            a(href ng-click="editor.run()")
              i.fa.fa-play
              |  Run
          li
            a(href="/")
              i.fa.fa-check-square
              |  Save
          li
            a(href="/")
              i.fa.fa-code-fork
              |  Fork
          li
            a(href="/")
              i.fa.fa-share
              |  Share
          li
            a(href="/")
              i.fa.fa-info-circle
              |  Help
        a.navbar-brand(href="/") gvDoodle
      .navbar-default.pull-right
        ul.nav.navbar-nav
          li
            a(href="/signin")
              i.fa.fa-user
              |  Login / Sign-up
  .container.container-main.container-full
    section.editor-section
      .row-fluid
        .col-xs-2
          select.form-control(id="engine-select")
            option(ng-repeat="e in editor.engines" value="{{e}}") {{e}}
        .col-xs-5.editor-col
        .col-xs-5.preview-col#preview
          #output

    #editor
      | digraph G {Hello->World}

  footer
    | @hatemogi