extends layout
block content
  section.editor-section
    .row-fluid
      .col-xs-6.editor-col
        #editor
          | digraph G {
          |   node [style=filled, fillcolor=steelblue, fontsize=9, fontcolor=white];
          |   edge [arrowsize=0.7];
          |   시작 [fillcolor=deepskyblue, shape="rect", style="filled, rounded"];
          |   d1 [href="/holiday-project-day-01/", label="D1\nkarma&jasmine"];
          |   d2 [href="/holiday-project-day-02/", label="D2\njasmine-node"];
          |   d3 [href="/holiday-project-day-03/", label="D3\nsupertest"];
          |   d4 [href="/holiday-project-day-04/", label="D4\nbower"];
          |   d1 -> d2 -> d3;
          |   d1 -> d4;
          | }
      .col-xs-6.preview-col
        #output