body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

.container-main {
  min-height: 650px;
}

.container-full {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.gv-nav {
  margin: 0;
}
.editor-col, .preview-col {
  padding: 0;
}

